body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #000;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff0122;
    color: #fefefe;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #d4011c;
}

button[type="submit"]:active {
    background-color: #ff0122;
}